@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.paramour {
    background-image: url('https://i.ibb.co/xHTZQts/image-hero-paramour.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.seraph {
    background-image: url('https://i.ibb.co/9rhyTVC/image-hero-seraph.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.federal {
    background-image: url('https://i.ibb.co/rF0V7hY/image-hero-federal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.trinity {
    background-image: url('https://i.ibb.co/tQyw4Db/image-hero-trinity.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-bg {
    background-image: url('https://i.ibb.co/6nbr7TZ/image-welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.st-banner {
    background-image: url('https://i.ibb.co/QD4jYyF/image-small-team.jpg');
    filter: brightness(80%);
    background-size: cover;
}

.del-sol {
    background-image: url('https://i.ibb.co/4Y7Xkmp/image-del-sol.jpg');
    background-size: cover;
}

.tower {
    background-image: url('https://i.ibb.co/j8KHBt5/image-228b.jpg');
    background-size: cover;
}

.proto {
    background-image: url('https://i.ibb.co/MM7KwbF/image-prototype.jpg');
    background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
